@import "fonts.css";

:root {
    --primary-black: #3C4245;
    --secondary-black: #5F6769;
    --primary-blue: #3C5E75;
    --secondary-blue: #507491;
    --text-color: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
}

